### Oscar Omurwa
### DSII: LAB: Intro to Statistics
### Date: 10/3/2020

1. Given the following BostonHousing dataset, generate 6 samples which contain 50 people for each of them.      
2. Calculate the mean of each sample's 'AGE'.   
3. Consider the whole dataset's 'AGE' as the population, calculate the mean of an sample of 10 people, as well as the mean of the full population. Are they the same or different, why?   
4. Suppose we don't have the whole BostonHousing dataset, but only have one sample with 50 people. Calculate the standard error of the population for house 'AGE'. (Use the formula in class notes "01-Introduction to Statistics" to calculate standard error)

In [1]:
from sklearn import datasets
import pandas as pd
boston = datasets.load_boston()
boston_df = pd.DataFrame(data=boston.data, columns=boston.feature_names)
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [10]:
import random 
random.seed(1)

age_data = boston_df["AGE"].values
list_age = list(age_data)

num_ppl_per_sample = 50 
num_sample = 6

samples = random.sample(range(100), 10)

len_samples = ## Calculate the len of each sample
means = # using numpy mean to get the 

print("Sample size for each sample is {}".format(len_samples))
print("Means of samples are {}".format(means))

[8, 36, 4, 16, 7, 31]

In [ ]:
# second part.Sample of 10 people 
random.seed(1)
sample_ten = # Using random sample again, sample 10 data points from list_age

# all mean 
full_mean = # get the mean of age data

# sample 10 
mean_sample_ten = # converting sample_ten to array calcuate the mean 


print("The population mean is {} \nThe sample mean is {} ".format(full_mean, mean_sample_ten))

In [ ]:
# standard error calculation
denominator = ## Denominator of the standard error 

standard_error = ## Divide the standard deviation by the denominator to get the standard error 

print("The sample standard error is {}".format(standard_error))